.section > .feed-wrapper {
    max-width: 1920px;
    background-color: #F3F2F6;
}

.section > .feed-wrapper .feed.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section > .feed-wrapper .feed.block .feed-list {
    display: flex;
    max-width: 80%;
    list-style: none;
    padding: 0;
}

.section > .feed-wrapper .feed.block .feed-list li {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 15px;
    border-right: 1px black dotted;
}

.section > .feed-wrapper .feed.block .feed-list li:last-of-type {
    border-right: none;
}

.section > .feed-wrapper .feed.block .feed-list li .feed-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section > .feed-wrapper .feed.block .feed-list li .feed-item img {
    height: 100%;
    object-fit: contain;
}

.section > .feed-wrapper .feed.block .feed-list li .feed-item .description {
    min-height: 28px;
}